export LANG=en_GB.UTF-8

if (which X >/dev/null); then
    export EDITOR="emacsclient -t"
    export VISUAL="emacsclient -c"
else if (which emacs >/dev/null); then
    export EDITOR="emacs -nw"
    export VISUAL="emacs"
else
    export EDITOR="vim"
    export VISUAL="vim"
fi
fi

if (which most >/dev/null); then
   export PAGER=most
fi

export GIT_EDITOR=$EDITOR

if [ -d $HOME/Code/Go ]; then
    # GO variables
    #export GOROOT=$HOME/Code/Go/go
    export GOPATH=$HOME/Code/Go
    export PATH=$GOPATH/bin:$PATH
fi

if [ -d $HOME/.cabal ]; then
    # Haskell cabal support
    export PATH=$HOME/.cabal/bin:$PATH
fi

if [ -d /usr/share/java/apache-ant/ ]; then
    # Apache ant tools
    export PATH=/usr/share/java/apache-ant/bin:$PATH
fi

if [ -d /opt/android-sdk/ ]; then
    # Android dev tools
    export PATH=/opt/android-sdk/platform-tools/:$PATH
    export PATH=/opt/android-sdk/tools/:$PATH
    export PATH=/opt/android-sdk/eclipse/:$PATH
fi

if [ -d $HOME/.bin ]; then
   export PATH=$HOME/.bin:$PATH
fi

if [ -d /usr/local/heroku/bin ]; then
   export PATH=/usr/local/heroku/bin:$PATH
fi

if (which chromium >/dev/null); then
   export BROWSER=chromium
fi

if [ -d /usr/share/arduino ]; then
   export ARDUINO_DIR=/usr/share/arduino
fi

export PATH=.:$PATH
