[user]
	email = bluepeppers@archlinux.us
	name = Laurie Clark-Michalek
[core]
	editor = emacs -nw
[color]
	ui = auto
[merge]
	stat = true
[alias]
        plog = log --oneline --decorate --graph
        ck = checkout
        c = commit
	st = status
[http]
	sslVerify = false
[push]
	default = simple
